<div class="edit-wrapper">
  <h2>Are you sure you want to delete {{username}}?</h2>

  <form action="/user/dashboard/delete" method="post">
    <input type="submit" value="Yes" class="edit-btn" />
  </form>
</div>