.new-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}
.answers-container {
  width: 80vw;
  gap: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.one-answer {
  padding: 2rem;
  /*     min-width: 300px;

  max-width: 500px; */
  width: 350px;
  height: 100%;
  display: flex;
  /* flex-basis: 55vw; */
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgba(231, 173, 0, 0.507);
  background: linear-gradient(
    0deg,
    rgba(255, 204, 51, 0.671) 0%,
    rgba(255, 214, 160, 0.651) 100%
  );
  border: 1px solid ghostwhite;
  border-radius: 1rem;
  word-break: break-word;

  @include for-phone-only {
    display: flex;
    width: 80vw;
    flex-direction: column;
    gap: 0.4rem;
  }
}
.test {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  li {
    width: 80vw;
    height: 100%;
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: flex-start;
  }
}

.answered-by {
  text-align: right;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  color: gray;
}

.list-container {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.posted-by {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  a {
    text-decoration: underline;
  }
}

.li-answer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
